.ContainerHome{
   background-color: #F5F1F0;
   font-family: Arial, Helvetica, sans-serif;
   display: flexbox;
   flex-wrap: wrap;
}

.Grid {
   display: grid;
   grid-template-columns: 0fr 1fr 0.4fr;
   /* grid-template-rows: 0.8fr 1.2fr 1fr 1fr 1.6fr 0.4fr;  */
   gap: 1em 1.5em;
   grid-auto-flow: row;
   grid-template-areas:
    "discussao discussao user"
    "discussao discussao user"
    "discussao discussao user"
    "discussao discussao user";
}

.user { 
   grid-area: user; 
}

.discussao { 
   grid-area: discussao; 
}

.discussao .publicar{
   width: 90%;
   height: 5vh;
   margin: 5vh 3vh;
   background-color: #ffffff;
   padding: 10px;
   border-radius: 10px;
}

.discussao .publicar input{
   border: none;
   width: inherit;
   display: flex;
}

.discussao .publicar button{
   margin: 5vh 75%;
   border: none;
   padding: 5px 15px;
   border-radius: 10px;
   color: white;
   background-color: #0B66C2;
}

.discussao hr{
   margin: 8vh 8vh 5vh 5vh;

}

.discussao .publicacao{
   width: 90%;
   height: fit-content;
   background-color: #ffffff;
   margin-left: 3vh;
   margin-bottom: 5vh;
   border-radius: 10px;
   padding: 15px;
}

.discussao .publicacao img{
   background-color: aquamarine;
   height: 40px;
   width: 40px;
}

.discussao .publicacao h5{
   font-size: 18px;
   margin-top: -45px;
   margin-left: 3vw;
   padding: 2px 10px;
}

.discussao .publicacao .containerTags{
   margin: -5.5vh 6vh;
   display: flex;
   
}

.discussao .publicacao .containerTags p{
   display: inline-block;
   margin-left: 1vw;
   text-decoration: underline;
   color: #0B66C2;
   font-size: 12px;
}

.discussao .publicacao .texto{
   font-size: 15px;
   margin-top: 6vh;
   text-align: justify;
}

.discussao .publicacao hr{
   margin: 2vh;
}

.discussao .publicacao .containerInteracoes {
   display: flex;
   justify-content: center;
}

.discussao .publicacao .containerInteracoes button{
   border: none;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
}

button:hover{
   color: #0B66C2;
}

.discussao .publicacao .containerInteracoes p{
   font-size: 16px;
   margin: 1vh;
}

.footer { grid-area: footer; }
